#donation-box{
	font-size: 12px !important;
    position: relative !important;
    overflow: hidden !important;
    font-family: Helvetica !important;
    color: #858585 !important;
}

#donation-box:hover .donation-hidden{  
    right: 0px !important;
}

.donation-text {
	font-size: 13px !important;
	font-weight: bold !important;
	margin-bottom: 2px !important;
}

.donation-input {
	background-color: transparent !important;
	border: 1px solid #858585 !important;
	padding-top: 5px !important;
	padding-bottom: 5px !important;
	margin-bottom: 10px !important;
}

#donation-box .donation-hidden {    
   	background-color: #f2f2f2 !important;
   	box-shadow: 8px 6px 8px #888888;
   	border-bottom-left-radius: 10px;
	border-top-left-radius: 10px;
	cursor: pointer;
	z-index: 9999;
    height: 245px;    
    position: fixed; 
    top: 20%;
    right: -180px;
    width: 300px;
    opacity: 1;    
    -webkit-transition: all 0.7s ease-out;
       -moz-transition: all 0.7s ease-out;
        -ms-transition: all 0.7s ease-out;
         -o-transition: all 0.7s ease-out;
            transition: all 0.7s ease-out;
}

.donation {
	width:133px !important; 
	height:250px !important; 
}

.donation-form {
	width: 180px !important; 
	height: 200px !important; 
	float:right !important;
	margin-top: 10px !important;
}

.align-left {
	text-align: left !important;
}

.donation-button {
	width: 92%;
}

.donation-currency {
	margin-bottom: 5px !important;
}
/* Donation default button*/
.donation-button-default {
	font-weight: bold !important;
	padding-top: 2% !important;
	padding-bottom: 2% !important;
	padding-left: 7% !important;
	padding-right: 7% !important;
	margin-bottom: 5px !important;
}

.donation-inactive {
	cursor: pointer !important;
	background-color: transparent !important;
	border: 1px solid #858585 !important;
	color: #858585 !important;
	margin-right: 5px !important;
}

.donation-active {
	cursor: pointer !important;
	background-color: #e52240 !important;
	color: #FFF !important;
	border: 2px solid #e52240 !important;
}

.button-45 {
	width: 45% !important;
}

.amount {
	margin-bottom: 5px !important;
}

.donation-image {
	width: 84% !important;
}
.donation-block {
	display: block !important;
	text-align: center;
}
.donation-message {
	font-weight: bold !important;
	color: #e52240 !important;
}
.powered_joinnus {
	width: 70% !important;
	padding-left: 20% !important;
	padding-top: 2% !important;
}