#donation-sonrisa-box{
	font-size: 10px !important;
    position: relative !important;
    overflow: hidden !important;
    font-family: Helvetica !important;
    color: #858585 !important;
}

#donation-sonrisa-box a{
	text-decoration: none;
}

#donation-sonrisa-box input:focus, #donation-sonrisa-box button:focus {
	outline:none !important;
}

#donation-sonrisa-box button {
	font-weight: bold !important;
	margin-bottom: 1px !important;
	font-family: Helvetica !important;
    font-size: 12px;
    padding: 1px 6px;
    font-style: normal !important;
}

#donation-sonrisa-box label {
	font-size: 11px !important;
}

.donation-sonrisa-close-widget {
	position: absolute; 
	top: 2px;
	right: 155px; 
	font-size: 20px
}

.donation-sonrisa-text {
	font-size: 13px !important;
	font-weight: bold !important;
	margin-bottom: 2px !important;
}

.donation-sonrisa-input {
	background-color: rgba(0, 0, 0, 0)!important;
    border: 1px solid #858585!important;
    padding-top: 1px!important;
    padding-bottom: 1px!important;
    margin-bottom: 4px!important;
    width: 133px;
    height: 16px !important;
}

#donation-sonrisa-box .donation-sonrisa-hidden {    
   	background-color: #f2f2f2 !important;
   	box-shadow: 8px 6px 8px #888888;
   	border-bottom-left-radius: 10px;
	border-top-left-radius: 10px;
	cursor: pointer;
	z-index: 9999;
	height: 178px;    
    position: fixed; 
    top: 20%;
    right: -150px;   
    width: 275px;
    opacity: 1;    
    -webkit-transition: all 0.7s ease-out;
       -moz-transition: all 0.7s ease-out;
        -ms-transition: all 0.7s ease-out;
         -o-transition: all 0.7s ease-out;
            transition: all 0.7s ease-out;
}

.donation-sonrisa {
	width:133px !important; 
	height:auto; 
}

.donation-sonrisa-form {
	width: 150px; 
	height: 200px !important; 
	float:right !important;
	margin-top: 10px !important;
}

.align-left {
	text-align: left !important;
}

.donation-sonrisa-button {
	width: 92%;
}

.donation-sonrisa-inactive {
	cursor: pointer !important;
	background-color: transparent !important;
	border: 1px solid #858585 !important;
	color: #858585 !important;
	margin-right: 1px !important;
}

.donation-sonrisa-active {
	font-size: 10px !important;
	cursor: pointer !important;
	background-color: #e52240 !important;
	color: #FFF !important;
	border: 2px solid #e52240 !important;
}

.button-45 {
	width: 45% !important;
}

.donation-sonrisa-image {
	width: 87% !important;
}
.donation-sonrisa-block {
	display: block !important;
	text-align: center;
}
.donation-sonrisa-message {
	font-weight: bold !important;
	color: #C43F39 !important;
	font-size: 13px !important;
}
.powered_joinnus {
    width: 60% !important;
    padding-left: 25% !important;
    padding-top: 2% !important;
    vertical-align: middle !important;
    height: unset !important;
}

@media (max-width:768px) {
	.donation-sonrisa-form {
		width: 128px !important; 
	}

	#donation-sonrisa-box .donation-sonrisa-hidden {
	    height: 143px;
	    width: 233px;
	    right: -130px;
	}

	.donation-sonrisa-input {
	    width: 118px !important;
	}

	#donation-sonrisa-box button {
	    font-size: 11px !important;
	    padding: 1px 6px !important;
	}
	.donation-sonrisa {
		width:110px !important; 
		height:165px !important; 
	}
	.donation-sonrisa-close-widget {
		position: absolute; 
		top: -5px;
		right: 132px; 
		font-size: 20px
	}
}